@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @Html.Partial("~/Views/PartialViews/_StudentSlider.cshtml")
</div>

@*<div class="row">
    <div class="col-md-8">
        <h4>here student info</h4>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("Edit", "", null, new { @class = "btn btn-success", id = "update_" })
        @Html.ActionLink("Delete", "", null, new { @class = "btn btn-danger", id = "delete_" })
    </div>
</div>*@

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/student_scripte/studentScripte.js"></script>

